<footer class="bg-dark" style="color: white; line-height: 30px; height: 30px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Made with love by Juthi</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>