<div class="container">
    <div class="row">
        <div class="col">
            <h1>Add Course:</h1>
            <div class="table-dark" style="margin: 20px 0; padding: 40px;">
                <form action="/course/add" method="post">
                    <div class="form-group">
                        <label for="courseName">Course Name:</label>
                        <input type="text" class="form-control" id="courseName" name="courseName">
                    </div>
                    <div class="form-group">
                        <label for="courseDuration">Course Duration:</label>
                        <input type="text" class="form-control" id="courseDuration" name="courseDuration">
                    </div>
                    <div class="form-group">
                        <label for="courseFee">Course Fee:</label>
                        <input type="text" class="form-control" id="courseFee" name="courseFee">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>